# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.KitchenSwipe.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\th3in\Documents\Github\KitchenSwipe\.idea\.idea.KitchenSwipe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
